
/* ----- utility ----- */

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

:root{
    --lightgrey: #e9ecef;
    --aside-bg-color: #051e34;
    --cta-bg-color: #1b72e8;
}


/* ----- codice ----- */

/* inizio macroaree */
header{
    height: 80px;
}

main{
    height: calc(100vh - 80px);
}

aside{
    height: 100%;
    width: 80px;
    background-color: var(--aside-bg-color);
    background-image: url("../img/sidebar-bg.png");
    background-size: cover;
}

.ms_content{
    height: 100%;
    width: calc(100% - 80px);
    overflow-y: scroll;
}

#ms_cta{
    background-color: var(--cta-bg-color);
}

#ms_main-content{
    
}
/* fine macroaree */

.ms_logo-mobile{
    height: 60px;
}

.ms_logo-normal{
    height: 40px;
}

.ms_navbar{
    min-width: calc(100% - 50px);
} 

.ms_list-icons{
    width: 50px;
}

aside i{
    font-size: 22px;
} 

aside ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#ms_aside-top, #ms_aside-bottom{
    display: flex;
    align-items: center;
}

aside li:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

.ms_cta-side{
    flex-direction: column;
}

.ms_bar{
    background-color: var(--lightgrey);
}

.ms_bell i{
    color: orange;
}

.ms_piano{
    padding: 2px 10px;
    border-radius: 30px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.2);
}

.ms_plus button{
    border: 1px solid white;
}

.ms_faq{
    border: 1px solid var(--lightgrey);
}






/* ----- area responsive ----- */

@media screen and (max-width: 991px) {
    aside ul{
        padding: 0;
        width: 100%;
    }

    aside li{
        text-align: center;
        padding: 10px 0;
    }

    .ms_bell{
        margin-left: 20px;
    }
}
    


@media screen and (min-width: 768px) {
    
} 


@media screen and (min-width: 992px) {
    .ms_sidebar{
        width: 150px;
    }

    .ms_content{
        width: calc(100% - 150px);
    }
    
    .ms_list-icons{
        width: 150px;
    }

    .ms_navbar{
        min-width: calc(100% - 150px);
    }

    aside ul{
        padding-left: 1.7rem;
    }

    aside li{
        display: flex;
        padding: 10px 5px;
    }

    aside i{
        font-size: 22px;
        width: 25px;
        margin-right: 12px;
    } 

    .ms_cta-side{
        flex-direction: row;
        justify-content: space-between;
    }

    .ms_new-student{
        order: 1;
    }

} 
