
/* ----- utility ----- */

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

:root{
    --lightgrey: lightgrey;
}




/* ----- codice ----- */

/* inizio macroaree */
header{
    height: 80px;
}

main{
    height: calc(100vh - 80px);
}

.ms_sidebar{
    height: 100%;
    width: 80px;
    background-color: blue;
    background-image: url("../img/sidebar-bg.png");
    background-size: cover;
}

.ms_content{
    height: 100%;
    width: calc(100% - 80px);
    overflow-y: scroll;
}

#ms_cta{
    /* debug */ background-color: aqua;
}

#ms_main-content{
    /* debug */ background-color: gold;
}
/* fine macroaree */


table{
   /* debug */ border: 2px solid black; 
}

.ms_logo-mobile{
    height: 60px;
}

.ms_logo-normal{
    height: 40px;
}

.ms_navbar{
    width: 85%;
}

.ms_list-icons{
    width: 12%;
}

aside i{
    font-size: 22px;
}

.ms_cta-side{
    flex-direction: column;
}



/* ----- area responsive ----- */

@media screen and (min-width: 576px) and (max-width: 992) {
    .ms_list-icons{
        text-align: right;
    }
}


@media screen and (min-width: 768px) {
    
} 


@media screen and (min-width: 992px) {
    .ms_sidebar{
        width: 150px;
    }

    .ms_content{
        width: calc(100% - 150px);
    }

    .ms_navbar{
        min-width: calc(100% - 200px);
    }
    
    .ms_list-icons{
        width: 200px;
    }

    aside a{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        padding: 0 1.5rem;
    }

    .ms_cta-side{
        flex-direction: row;
        justify-content: space-between;
    }

} 
